.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.daySingleView:hover {
  background-color: #d6d6d6;
}
.today {
  font-weight: 500;
  background-color: #4285f4;
}
